.site-feature {
	align-items: center;
	background: $dark-grey url('../img/gradient.svg') no-repeat; // used svg for better IE9 support and less gradient banding
	background-size: cover;
	// background-image: radial-gradient(circle at 11% 11%, #585858, $dark-grey);
	display: flex;
	justify-content: space-around;
	height: 35rem;
	position: relative;

	@media (min-width: $tablet) {
		height: 60rem;
	}

	&__heading {
		color: $white;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			font-size: 7.2rem;
			letter-spacing: 6px;
		}

		/* fallback for IE9, doesn't support flexbox */
		.ie-9 & {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			@media (min-width: $tablet) {
				min-width: 540px;
			}
		}
	}

	&__logo {
		vertical-align: middle;
		width: 4rem;

		@media (min-width: $tablet) {
			width: auto;
		}
	}
}